# ── Next.js ───────────────────────────────────────────────────────────────────
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# ── Dependencies ──────────────────────────────────────────────────────────────
/node_modules

# ── Environment Files ─────────────────────────────────────────────────────────
.env
.env.local
.env.development
.env.production
.env.*
.env.*.local

# ── Terraform ─────────────────────────────────────────────────────────────────
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.backup

# ── Cloudflare ────────────────────────────────────────────────────────────────
.vercel
.wrangler

# ── Debug Logs ────────────────────────────────────────────────────────────────
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# ── IDE ───────────────────────────────────────────────────────────────────────
.idea/
.vscode/
*.swp
*.swo

# ── Build ─────────────────────────────────────────────────────────────────────
dist/
build/

# ── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── Misc ──────────────────────────────────────────────────────────────────────
package-lock.json

# Note
Note.txt